@import "config";



/* App-specific stylings */

html {
    background-color: @page_background;
}

body {
    font-family: arial, sans-serif;
    width: 1280px;
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
    body {
        width: 960px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 959px) {
    body {
        width: 640px;
    }
}
/* Header */

body > header {
    .header;
    .logo {
        position: absolute;
        top: 25px;
        line-height: 50px;
    }

    nav {
        right: 10px;
        ul {
            list-style: none;

            li {
                width: 100px;

                a {
                    width: 100px;
                    line-height: 50px;
                    font-size: 20px;
                    border: 1px solid #aaa;
                }
            }
        }
    }
}


/* Footer */

body > footer {
    .column-set;
    max-width: 640px;
    margin: 0 auto;

    ul {
        list-style: none;
    }
}

/* Buttons */

.simple_gradient(@from, @to) {
    background-color: @to;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@from), to(@to));
    background-image: -moz-linear-gradient(@from, @to);
    background-image: -o-linear-gradient(@from, @to);
    background-image: linear-gradient(@from, @to);
}

.button {
    border: 1px solid #d4d4d4;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    .simple_gradient(@primary_start, @primary_end);
    .border-radius(0.2em);


    &:hover, &:focus, &:active, &.active {
        border-color: lighten(@secondary,0%);
        border-bottom-color: lighten(@secondary, 10%);
        text-decoration: none;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
        color: #fff;
        .simple_gradient(@secondary_start, @secondary_end);
    }

    &.primary {
        font-weight: bold;
    }

    &.danger {
        color: @error;
    }

    &.danger {
        &:hover, &:focus, &:active, &.active {
            border-color: lighten(@error, 0%);
            border-bottom-color: lighten(@error, 10%);
            color: #fff;
            .simple_gradient(@error_start, @error_end);
        }
    }
}


/* Status */
.status.note {
    background-color: @ok;
}
.status.success {
    background-color: @ok;
}
.status.warning {
    background-color: @error;
    color: white;
}
.status.error {
    background-color: @error;
    color: white;
    font-weight: bold
}

/* Table */
.data-table {
    border: 1px solid @primary;

    th {
        background-color: @primary;
        color: white;
    }

    tr:nth-child(even) {
        background-color: lighten(@primary, 60%);
    }

    td {
        border-right: 1px solid @primary;
    }
}

/* Form */
.form {
    max-width: 480px;
    text-align: right;
    label {
        text-align: left;
        display: inline-block;
        font: 12px/bold sans-serif;
        color: #333333;
        vertical-align: top;
        float: left;
    }

    input {
        display: inline-block;
        width: 295px;
        vertical-align: top;

        // border: 1px solid @dark1;
    }

    input[type=submit] {
        width: auto;
    }

    select {
        width: 300px;
        vertical-align: top;
        display: inline-block;
    }

    .hint {
        display: inline-block;
        margin-left: 0px;
        margin-top: 2px;
        font: 11px/normal sans-serif;
        color: @text_dim;
        width: 295px;
        text-align: left;
    }

    .element .error {
        color: white;
        background-color: @error;
        padding: 6px;
        display: inline-block;
        width: 289px;
        text-align: left;
        font: 11px/normal sans-serif;
        font-weight: bold;
    }

    .errors {
        background-color: @error;
        color: white;
    }

    .element {
        margin-bottom: 20px;
    }

    .element.reverse {
        text-align: right;
        input {
            width: 15px;
        }
        label {
            float: none;
            width: 275px;
        }
    }

}

/* Popup */

.popup {
    width: 320px;
    background-color: white;
    border: 1px solid #d4d4d4;
    .border-radius(4px);
    .box-shadow(0px,0px,20px, #888);

    header {
        position: relative;
        top: 0px;
        left: 0px;
        .border-radius-top(4px);
        //width: 310px;
        background-color: @primary;
        color: white;
        font-weight: bold;
        padding: 5px;
        border-bottom:  1px solid black;
    }

    section {
        padding: 5px 10px;
    }

    footer {
        position: relative;
        border-top: 1px solid #eee;
        padding: 2px;

        button {
            .button;
            width: 80px;

            &.cancel {
                position: absolute;
                left: 2px;
                top: 2px;
                margin-left: 0px;
            }
        }
    }

    &.wide {
        width: 500px;
        header {
            //width: 490px;
        }
    }
}

/* Tabs */
.tab-selector {
    border-bottom: 1px solid #eee;
}

.tab-selector li a {
    position: relative;
    top: 1px;
    .button;
    border-bottom: none;
    margin-left: 0;
}

.tab-selector li a.active {
    background-color: white;
}

.tab-content {
    background-color: white;
}